[user]
	name = Brendan Leber
	email = n0bml@brendanleber.com

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	sub = submodule
	unstage = reset HEAD --
	tags = tag --list
	branches = branch --all
	remotes = remote --verbose
	stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
	last = log --max-count=1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	signed = log --pretty=format:\"%h %G? %aN  %s\"

[color]
	ui = auto
	interactive = always
	diff = True
	branch = True

[push]
	default = simple

[pull]
	rebase = true
